
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
/*Reset CSS*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



/* Estilos básicos para el menú header */
h1, h2, h3, p, figcaption {
    font-family: 'IBM Plex Mono', monospace;
    color: #fff;
    font-size: 1em;
}

body {
    background-color: rgb(41, 47, 54);
}

nav {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.767), transparent);
    padding: 1.5em 1em;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
}

#nav_h1 {
    font-size: 1.3em;
    align-items: center;
}

nav ul {
    font-family: 'IBM Plex Mono', monospace;
    list-style: none;
    margin-right: 1em;
    display: flex;
    align-items: center;
}

nav ul li a {
    margin: 0 10px;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    padding: 10px;
    position: relative;
}

nav ul li a::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 0;
    height: 0.1em;
    background-color: rgb(12, 204, 185);
    transition: all 0.2s ease-in-out;
    transform: translateX(-50%);
}

nav ul li a:hover::after {
    width: 100%;
}


/* Espaciado para el contenido debajo del menú */
#aboutme, #proyectos{
    height: 100vh; /* Agrega espacio en la parte superior */
    background: 
    linear-gradient(rgba(0, 0, 0, 0.767), rgba(0, 0, 0, 0.67), rgba(41, 47, 54, 1)), /* Filtro oscuro */
    url('./assets/fondo-vectores.jpg'); /* Imagen de fondo */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;   
    display: flex;
    justify-content: center;
    align-items: center;
}
#aboutme_descripcion {
    padding: 2em;
    margin-right: 5em;
    border-top-left-radius: 3em;
    border-bottom-right-radius: 3em;
    background-image: linear-gradient(to left, rgb(41, 47, 54), rgb(45, 57, 71)); /* Define el degradado */
    height: 15em;
    width: 50%;
    font-size: 1em;
}

#h1_descripcion{
    font-size: 2em;
    margin: .5em 0em;
    color: rgb(12, 204, 185);
}
strong{
    color: rgb(12, 204, 185);
}
#h2_descripcion{
    font-size: 1.4em;
}
#p_descripcion{
    line-height: 23px;
}
#fotoPerfil {
    height: 20em;
    border: .1em solid transparent; 
    border-radius: 20%;
    background-image: linear-gradient(to bottom, rgb(12, 204, 185),rgb(7, 79, 72)); /* Define el degradado */
    border-image: linear-gradient(to bottom, rgb(12, 204, 185), rgb(7, 79, 72)) 1; /* Aplica el degradado al borde */
}

#skills, #hobbies, #formacion {
    height: 50vh;
}

#h2_skills, #h2_hobbies{
    text-align: center;
    color: #63f0d1; /* Color turquesa */
    font-family: 'Fira Sans', sans-serif; /* Fuente similar */
    font-size: 2.5rem;
    padding-top: 1.5em;
}
#h2_skills::after {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    background-color: #63f0d1; 
    margin: 0.5rem auto 0;
    border-radius: 2px;
}
#h2_hobbies::after {
    content: "";
    display: block;
    width: 6em;
    height: 3px;
    background-color: #63f0d1; 
    margin: 0.9rem auto 0;
    border-radius: 2px;
}
#section-logos-skills, #section-logos-hobbies{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    height: 10em;
}
#logo-skills{
    height: 6em;
}
#figcaption-skills-logos{
    text-align: center;
}
figure{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#section-formacion {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 13em;
}

.card-formacion {
    background-color: rgb(109, 235, 216); /* Color de fondo de las tarjetas */
    border-radius: 8px;
    height: 8em;
    width: 15em;
    padding: 10px;
    text-align: center;
    position: relative;
}

.card-formacion::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 10px;
    height: 100%;
    background-color: #01adad; 
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

.card-formacion h3 {
    font-weight: bold;
    font-size: 1.1em;
    margin-top: .5em;
    color:rgb(2, 43, 41);
}

.card-formacion p {
    margin: 10px 0;
    font-size: 0.9em;
    color: #444;
}

.icon {
    height: 3em;
}
